In [47]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [48]:
df = pd.read_excel('table(032a).xls')

In [49]:
df.head()

    年分     期中人口  經濟成長    GDP 人均GDP   GNI 人均GNI  人均所得
0  NaN        人     ％    百萬元     元  百萬美元     元     元
1  40年  7758202     －  12327  1589  1196  1588  1582
2  41年  8046915    12  17275  2147  1677  2146  2127
3  42年  8333009  9.49  23036  2764  1481  2764  2726
4  43年  8645264  9.64  25315  2928  1628  2928  2864

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 8 columns):
年分       305 non-null object
期中人口     304 non-null object
經濟成長     304 non-null object
GDP      304 non-null object
人均GDP    304 non-null object
GNI      304 non-null object
人均GNI    304 non-null object
人均所得     304 non-null object
dtypes: object(8)
memory usage: 19.2+ KB

In [61]:
x1 = df.人均GDP
x2 = df.人均GNI
x3 = df.人均所得

In [62]:
x1

0           元
1        1589
2        2147
3        2764
4        2928
5        3364
6        3732
7        4225
8        4586
9        5105
10       5943
11       6448
12       1610
13       1572
14       1464
15       1802
16       6883
17       1665
18       1689
19       1621
20       1908
21       7545
22       1887
23       1842
24       1736
25       2080
26       8542
27       2191
28       2112
29       1948
        ...
276    688434
277    165172
278    167818
279    174876
280    180568
281    714774
282    179093
283    173410
284    179581
285    182690
286    730411
287    181824
288    176760
289    182762
290    189065
291    742976
292    183456
293    177911
294    188342
295    193267
296    754711
297    186198
298    184218
299    189142
300    195153
301       NaN
302    189325
303    187744
304    195372
305       NaN
Name: 人均GDP, Length: 306, dtype: object